# EcoSort-AI Project Git Ignore Rules
# Ignore dataset folders
DATASET/
TEST/
TRAIN/
**/DATASET/**
**/TEST/**
**/TRAIN/**

# Model files
*.pkl
*.pt

# Cache, logs, temp files
__pycache__/
*.pyc
*.log

# Virtual environments
venv/
.env/
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# VSCode settings
.vscode/
